.indicator {
    text-align: right;
}

.header-border {
    background-color: #e3e6e9;
}

.header-wrapper {
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.app-menu-brand {
    color: #002252;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button {
    color: #002252;
}

.app-menu-button:focus {
    background-color: transparent;
}

.app-menu-button:hover {
    background-color: transparent;
    color: #002252;
    outline: 1px solid #002252;
    outline-offset: -2px;
}

.appl-button {
    background-image: url('../../gif/appl/appl-industry.gif') !important;
}

.appl-button:hover, .appl-button:active {
    outline: 1px solid #002252 !important;
    outline-offset: -2px;
}

.app-menu-button:active {
	background-color: transparent;
}

.appl-button:hover {
    outline: none;
}

.appl-button.opened {
    outline: 1px solid #002252;
    outline-offset: -2px;
}

.environment-button.opened {
    background-color: transparent;
    outline: 1px solid #ddd;
    outline-offset: -2px;
}

.environment-text {
    color: #002252;
}

.environment-option {
    background-color: transparent;
    border-bottom-color: transparent;
    color: #002252;
}

.environment-option:hover, .environment-option:active {
    color: white;
    background-color: #4582ec;
}

.environment-option.active-option {
    color: #002252;
    background-color: #e3e6e9;
    border: 1px solid #002252;
    border-radius: 4px;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: #002252;
    background-color: transparent;
    border: 1px solid #002252;
    border-radius: 4px;
}

.user-settings-small-menu-dropdown-option, .user-settings-small-menu-item-wrapper, .user-settings-small-menu-info{
    color: #002252; 
}

.user-settings-wrapper.first-item {
    border-color: #dddddd;
}

.app-launcher-wrapper {
    background-color: #e3e6e9;  
}

.app-launcher-content > div > h2 {
    color: #002252;
}

.app-launcher-button {
    background-color: white;
    color: #333333 !important;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.feedback-form-control {
    display: block;
    font-size: 16px;
    line-height: 1.42857143;
    color: #002252;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-main-container {
    background-color: #f7f7f7;
}

.feedback-overlay-background{
    color: #002252;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #4582ec;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -ms-user-select: none;
    user-select: none;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    background-color: #4582ec;
}

.feedback-submit-button:hover {
    background-color: #1863e6;
    border-color: #175fdd;
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #dddddd;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none; 
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    background-color: #ffffff;
}

.feedback-overall-anchor {
    color: #002252;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

.path-anchor-first  {
    fill: #ffffff;
    stroke: #ffffff;
}

.path-anchor-second {
    fill: #002252;
    stroke: #ffffff;
}

.feedback-overall-anchor:hover {
    color: #002252;
    background-color: #e3e6e9;
    border-color: #e3e6e9;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #e3e6e9;
    stroke: #e3e6e9;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: #002252;
    stroke: #e3e6e9; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #4582ec;
    border-color: #4582ec;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #4582ec;
    stroke: #4582ec;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #4582ec;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #e3e6e9;
    stroke: #e3e6e9;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: #002252;
    stroke: #e3e6e9;
}

/**
 * LOGO BACKGROUND (legibility issues)
 */

.logo-background {
    background-color: #002252;
}

.client-logo {
    background-color: #002252;
}

/**
 * Navigation
 */
 .tab {
    background-color: #fff;
 }
 
 .tab-wrapper:hover {
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #e9ecef; 
 }

.tabbar {
    background-color: #f5f5f5; 
}

.back-div {
    background-color: #f5f5f5;
    color: #002252;
}

.tabbar-button {
    color: #333333;
}

.tab-wrapper {
    color: #333333;
}
 
.tab .active-tab {
    color: #002252;    
}

.active-tab-bottom {
    color: #002252;
}

.side-navigation-wrapper {
    background-color: #f5f5f5;
    color: rgb(51, 51, 51);
    border-color: #f5f5f5 #eeeeee #f5f5f5 #f5f5f5;
    border-right: 1px solid #eeeeee;
}

.side-navigation-separator-line {
    background-color: #dddddd;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(51, 51, 51);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(0, 34, 82);
    text-shadow: 0 0 4px rgba(0, 34, 82, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(51, 51, 51);
}

.nav-wrapper:hover {
    background-color: #eeeeee;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav:hover {
    background-color: #dddddd;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #dddddd;
}

.nav-wrapper.active-tab {
    background-color: #eeeeee;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(0, 34, 82);
}

.nav-wrapper.active-tab:hover {
    background-color: #dddddd;
}

.navlinks {
    color: rgb(51, 51, 51);
}

.navlinks:hover {
    color: rgb(51, 51, 51);
}

.navlinks:focus {
    color: rgb(51, 51, 51);
}

.navtitle {
    color: rgb(51, 51, 51);
}

.primary-menu-region {
    background-color: #ffffff;
    color: #4582ec;
}

.commandbar-primary-menu-item:hover {
    background-color: #ffffff;
    color: #4582ec;
    border: 1px solid #ddd;
}

.nav-tooltip-list-wrapper {
    color: rgb(51, 51, 51);
}

.nav-tooltip-list-item-img {
    color: rgb(51, 51, 51);
}

/**
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #dddddd;
    }
}