.indicator {
    text-align: right;
}

.header-border {
    background-color: #2780e3;
}

.header-wrapper {
	border-top: 1px solid #1967be;
	border-left: 1px solid #1967be;
	border-bottom: 1px solid #1967be;
}

.app-menu-button:focus {
	background-color: #2780e3;
}

.app-menu-button:hover {
    background-color: #1967be;
}

.app-menu-button:active {
    background-color: #2780e3;
}

.appl-button {
    background-image: url('../../gif/appl/appl-cosmo.gif') !important;
}

.environment-button.opened {
    background-color: #1967be;
}

.environment-option:hover, .environment-option:active {
    background-color: #2780e3;
}

.environment-option.active-option {
    color: white;
    background-color: #1967be;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: #2780e3;
}


.user-settings-wrapper.first-item {
    border-color: #1967be;
}

.app-launcher-wrapper {
    background-color: #1967be;
}

.app-launcher-button {
    background-color: #222222;
}

.feedback-form-control {
    display: block;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-main-container {
    background-color: #f5f5f5;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #2780e3;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #2780e3;
}

.feedback-submit-button:hover {
    background-color: #1967be;
    border-color: #1862b5;
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #222222;
    white-space: nowrap;
    padding: 10px 18px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    user-select: none;
    color: #ffffff;
    background-color: #222222;
}

.feedback-overall-anchor {
    color: #ffffff;
    background-color: #222222;
    border: 1px solid #222222;
}

.path-anchor-first  {
    fill: #222222;
    stroke: #222222;
}

.path-anchor-second {
    fill: #ffffff;
    stroke: #222222;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #1967be;
    border-color: #1862b5;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #1967be;
    stroke: #1967be; 
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: #1967be; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #2780e3;
    border-color: #2780e3;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #2780e3;
    stroke: #2780e3;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    stroke: #2780e3;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #1967be;
    stroke: #1967be;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: #1967be;
}

/**
 * Navigation
 */
 
 .tab-wrapper:hover {
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #e9ecef; 
 }

.tab-wrapper {
    color: #495057;
}
 
.tab .active-tab {
    color: #2780e3;    
}

.active-tab-bottom {
    color: #2780e3;
}

.side-navigation-wrapper {
    background-color: #f5f5f5;
    color: rgb(51, 51, 51);
    border-color: #f5f5f5 #e6e6e6 #f5f5f5 #f5f5f5;
    border-right: 1px solid #e6e6e6;
}

.side-navigation-separator-line {
    background-color: #cccccc;
}

.side-navigation-shrink-command-wrapper {
    color: #333333;
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(39, 128, 230);
    text-shadow: 0 0 4px rgba(39, 128, 230, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(51, 51, 51);
}

.nav-wrapper:hover {
    background-color: #e6e6e6;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #e6e6e6;
}

.nav-wrapper.sub-nav {
    background-color: #e6e6e6;
}

.nav-wrapper.sub-nav:hover {
    background-color: #cccccc;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #cccccc;
}

.nav-wrapper.active-tab {
    background-color: #e6e6e6;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(39, 128, 230);
}

.nav-wrapper.active-tab:hover {
    background-color: #cccccc;
}

.navlinks {
    color: rgb(51, 51, 51);
}

.navlinks:hover {
    color: rgb(51, 51, 51);
}

.navlinks:focus {
    color: rgb(51, 51, 51);
}

.navtitle {
    color: rgb(51, 51, 51);
}

.nav-tooltip-list-wrapper {
    color: rgb(51, 51, 51);
}

.nav-tooltip-list-item-img {
    color: rgb(51, 51, 51);
}

/**
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #1967be;
    }
}