.indicator {
    text-align: right;
}

.header-border {
    background: linear-gradient(to right,#007942 0,#00ac7b 100%);
}

.header-wrapper {
	border-top: 1px solid #007942;
	border-left: 1px solid #007942;
	border-bottom: 1px solid #007942;
}

.app-menu-brand {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button:hover {
    background-color: transparent;
    color: #7bf1bd;
}

.app-menu-button:focus {
    background-color: transparent;
}

.appl-button {
    background-image: url('../../gif/appl/appl-banker.gif') !important;
    background-color: transparent;
}

.appl-button:hover {
    background-position: bottom;
}

.appl-button.opened {
    background-position: bottom;
    background-color: transparent;
    color: #7bf1bd;
}

.environment-button.opened {
    background-color: #007942;
}

.environment-option {
    background-color: transparent;
    border-bottom-color: #e5e5e5;
    color: #7b8a8b;
}

.environment-option:hover, .environment-option:active {
    color: white;
    background-color: #2c3e50;
}

.environment-option.active-option {
    color: white;
    background-color: #007942;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: #007942;
}

.user-settings-wrapper.first-item {
    border-color: #007942;
}

.app-launcher-wrapper {
    background-color: #007942;
}

.app-launcher-button {
    background-color: #798d8f;
    border-radius: 4px;
}

.feedback-form-control {
    display: block;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-width: 2px;
    box-shadow: none;
}

.feedback-main-container {
    background-color: #ecf0f1;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #2c3e50;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-width: 2px;
    color: #ffffff;
    background-color: #2c3e50;
}

.feedback-submit-button:hover {
    background-color: #1a242f;
    border-color: #161f29;
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid #95a5a6;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    border-width: 2px;
    color: #ffffff;
    background-color: #95a5a6;
}

.feedback-overall-anchor {
    color: #ffffff;
    background-color: #95a5a6;
    border: 2px solid #95a5a6;
    border-radius: 4px;
}

.path-anchor-first  {
    fill: #95a5a6;
    stroke: #95a5a6;
}

.path-anchor-second {
    fill: #ffffff;
    stroke: #95a5a6;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #1a242f;
    border-color: #161f29;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #1a242f;
    stroke: #1a242f;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: #1a242f; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #2c3e50;
    stroke: #2c3e50;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    stroke: #2c3e50;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #1a242f;
    stroke: #1a242f;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: #1a242f;
}

/**
 * Navigation
 */
 .tab {
    background-color: #fff; 
 }
 
 .tab-wrapper:hover {
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #ecf0f1; 
 }

.tabbar {
    background-color: #ecf0f1; 
}

.back-div {
    background-color: #ecf0f1;
    color: #007942;
}

.tabbar-button {
    color: rgb(44, 62, 80);
}

.tab-wrapper {
    color: #2C3E50;
}
 
.tab .active-tab {
    color: #007942;    
}

.active-tab-bottom {
    color: #007942;
}

.side-navigation-wrapper {
    background-color: #ecf0f1;
    color: rgb(44, 62, 80);
    border-color: #ecf0f1 #95a5a6 #ecf0f1 #ecf0f1;
    border-right: 1px solid #95a5a6;
}

.side-navigation-separator-line {
    background-color: #798d8f;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(44, 62, 80);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(18, 143, 118);
    text-shadow: 0 0 4px rgba(18, 143, 118, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(44, 62, 80);
}

.nav-wrapper:hover {
    background-color: #95a5a6;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #95a5a6;
}

.nav-wrapper.sub-nav {
    background-color: #95a5a6;
}

.nav-wrapper.sub-nav:hover {
    background-color: #798d8f;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #798d8f;
}

.nav-wrapper.active-tab {
    background-color: #95a5a6;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(44, 62, 80);
}

.nav-wrapper.active-tab:hover {
    background-color: #798d8f;
}

.navlinks {
    color: rgb(44, 62, 80);
}

.navlinks:hover {
    color: rgb(44, 62, 80);
}

.navlinks:focus {
    color: rgb(44, 62, 80);
}

.navtitle {
    color: rgb(44, 62, 80);
}

.primary-menu-region {
    background-color: #2C3E50;
    color: #fff;
}

.commandbar-primary-menu-item:hover {
    background-color: #2C3E50;
    color: rgb(0, 121, 66);
}

.nav-tooltip-list-wrapper {
    color: rgb(44, 62, 80);
}

.nav-tooltip-list-item-img {
    color: rgb(44, 62, 80);
}

/**
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #007942;
    }
}