.indicator {
    text-align: right;
}

.header-border {
    background-color: white;
}

.header-wrapper {
	border-top: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-bottom: 4px solid #e6e6e6;
}

.app-menu-brand {
    color: #999999;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button {
    color: #999999;
}

.app-menu-button:focus {
    background-color: transparent;
}

.app-menu-button:hover {
    background-color: transparent;
    color: #333333;
}

.app-menu-button:active {
	background-color: transparent;
}

.appl-button {
    background-image: url('../../gif/appl/appl-lumen.gif') !important;
}

.appl-button.opened {
    color: #333333; 
}

.environment-button.opened {
    background-color: transparent;
}

.environment-option {
    background-color: transparent;
    border-bottom-color: #eeeeee;
    color: #999999;
}

.environment-option:hover, .environment-option:active {
    color: #333333;
    background-color: transparent;
}

.environment-option.active-option {
    color: #333333;
    background-color: transparent;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: #333333;
    background-color: transparet;
}


.user-settings-wrapper.first-item {
    border-color: #e6e6e6;
}

.app-launcher-wrapper {
    background-color: white;
}

.app-launcher-button {
    background-color: #eeeeee;
    color: #555555 !important;
    border-width: 0 1px 4px 1px;
    border-color: #e2e2e2;
    border-radius: 4px;
    border-style: solid;
}

.feedback-form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-main-container {
    background-color: #fafafa;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #127ba3;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #158cba;
}

.feedback-submit-button:hover {
    margin-top: 1px;
    border-bottom-width: 3px;
    background-color: #158cba;
    border-color: #127ba3;
}

.feedback-button {
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border-color: #e2e2e2;
    white-space: nowrap;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    padding: 9px 12px 7px;
    border-width: 0 1px 4px 1px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: #555555;
    background-color: #eeeeee;
}

.feedback-overall-anchor {
    color: #555555;
    background-color: #eeeeee;
    border-width: 0 1px 4px 1px;
    border-color: #e2e2e2;
    border-radius: 4px;
}

.path-anchor-first  {
    fill: #eeeeee;
    stroke: #eeeeee;
}

.path-anchor-second {
    fill: #555555;
    stroke: #eeeeee;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #158cba;
    border-color: #127ba3;
    margin-top: 1px;
    border-bottom-width: 3px;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #158cba;
    stroke: #158cba;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #158cba; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #158cba;
    border-color: #127ba3;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #158cba;
    stroke: #158cba;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #158cba;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #158cba;
    stroke: #158cba;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #158cba;
}

/**
 * LOGO BACKGROUND (legibility issues)
 */

.logo-background {
    background-color: #999999;
}

.client-logo {
    background-color: #999999;
}

/**
 * Navigation
 */
 .tab {
    background-color: #fff;
 }
 
 .tab-wrapper:hover {
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #f0f0f0; 
 }

.tabbar {
    background-color: #f5f5f5; 
}

.back-div {
    background-color: #f5f5f5;
    color: #333333;
}

.tabbar-button {
    color: #999999;
}

.tab-wrapper {
    color: #222;
}
 
.tab .active-tab {
    color: #222;    
}

.active-tab-bottom {
    color: #333333;
}

.side-navigation-wrapper {
    background-color: #f5f5f5;
    color: rgb(85, 85, 85);
    border-color: #f5f5f5 #eeeeee #f5f5f5 #f5f5f5;
    border-right: 1px solid #eeeeee;
}

.side-navigation-separator-line {
    background-color: #cccccc;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(85, 85, 85);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(21, 140, 186);
    text-shadow: 0 0 4px rgba(21, 140, 186, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(85, 85, 85);
}

.nav-wrapper:hover {
    background-color: #eeeeee;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav:hover {
    background-color: #cccccc;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #cccccc;
}

.nav-wrapper.active-tab {
    background-color: #eeeeee;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(21, 140, 186);
}

.nav-wrapper.active-tab:hover {
    background-color: #cccccc;
}

.navlinks {
    color: rgb(85, 85, 85);
}

.navlinks:hover {
    color: rgb(85, 85, 85);
}

.navlinks:focus {
    color: rgb(85, 85, 85);
}

.navtitle {
    color: rgb(85, 85, 85);
}

.primary-menu-region {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-width: 0 1px 4px 1px;
    color: #999999;
}

.commandbar-primary-menu-item:hover {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border-width: 0 1px 4px 1px;
    color: #333333;
}

.nav-tooltip-list-wrapper {
    color: rgb(85, 85, 85);
}

.nav-tooltip-list-item-img {
    color: rgb(85, 85, 85);
}

/**
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #e6e6e6;
    }
}