.indicator {
    text-align: right;
}

.header-border {
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    background-color: #446e9b;
}

.header-wrapper {
	border-top: 1px solid #345578;
	border-left: 1px solid #345578;
	border-bottom: 1px solid #345578;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.app-menu-brand {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button {
    color: #dddddd;
}

.app-menu-button:focus {
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    background-color: #446e9b;
}

.app-menu-button:hover {
    background-color: transparent;
    color: white;
}

.app-menu-button:active {
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    background-color: #446e9b;
}

.appl-button {
    background-image: url('../../gif/appl/appl-spacelab.gif') !important;
}

.appl-button.opened {
    color: white; 
}

.app-menu-button-right-menu-selected {
    background-image: none !important;
}

.environment-option {
    background-color: white;
    border-bottom-color: #e5e5e5;
    color: #333333;
}

.environment-option:hover, .environment-option:active {
    background-color: #446e9b;
    color: white;
}

.environment-option.active-option {
    color: white;
    background-color: #3e648d;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: #3e648d;
}


.user-settings-wrapper.first-item {
    border-color: #345578;
}

.app-launcher-wrapper {
    background-color: #3e648d;
}

.app-launcher-button {
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(#6d7070, #474949 50%, #3d3f3f);
    background-repeat: no-repeat;
    background-color: #474949;
    color: white !important;
    border-radius: 4px;
}

.app-launcher-button:hover,
.app-launcher-button:focus {
    background-image: none;
}

.feedback-form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #666666;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-main-container {
    background-color: #f5f5f5;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: linear-gradient(#6d94bf, #446e9b 50%, #3e648d);
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid #345578;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    color: #ffffff;
    background-color: #446e9b;
}

.feedback-submit-button:hover {
    background-image: linear-gradient(#5f8ab9, #3e648d 50%, #385a7f);
    background-repeat: no-repeat;
    filter: none;
    border: 1px solid #2e4b69;
    background-color: #345578;
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border: 1px solid #2e2f2f;
    border-radius: 4px;
    user-select: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    background-color: #474949;
}

.feedback-overall-anchor {
    color: #ffffff;
    background-color: #2e2f2f;
    border: 1px solid #292a2a;
    border-radius: 4px;
}

.path-anchor-first  {
    fill: #2e2f2f;
    stroke: #2e2f2f;
}

.path-anchor-second {
    fill: #ffffff;
    stroke: #2e2f2f;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #345578;
    border-color: #2e4b69;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #345578;
    stroke: #345578;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #345578; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #446e9b;
    border-color: #446e9b;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #446e9b;
    stroke: #446e9b;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    stroke: #446e9b;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #345578;
    stroke: #345578;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #345578;
}

/**
 * Navigation
 */
 .tab {
    background-color: #fff;
 }
 
 .tab-wrapper:hover {
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #eee; 
 }

.tabbar {
    background-color: #f5f5f5; 
}

.back-div {
    background-color: #f5f5f5;
    color: #446e9b;
}

.tabbar-button {
    color: #333333;
}

.tab-wrapper {
    color: #495057;
}
 
.tab .active-tab {
    color: #446e9b;    
}

.active-tab-bottom {
    color: #446e9b;
}

.side-navigation-wrapper {
    background-color: #f5f5f5;
    color: rgb(102, 102, 102);
    border-color: #f5f5f5 #eeeeee #f5f5f5 #f5f5f5;
    border-right: 1px solid #eeeeee;
}

.side-navigation-separator-line {
    background-color: #cccccc;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(102, 102, 102);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(68, 110, 155);
    text-shadow: 0 0 4px rgba(68, 110, 155, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(102, 102, 102);
}

.nav-wrapper:hover {
    background-color: #eeeeee;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav:hover {
    background-color: #cccccc;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #cccccc;
}

.nav-wrapper.active-tab {
    background-color: #eeeeee;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(68, 110, 155);
}

.nav-wrapper.active-tab:hover {
    background-color: #cccccc;
}

.navlinks {
    color: rgb(102, 102, 102);
}

.navlinks:hover {
    color: rgb(102, 102, 102);
}

.navlinks:focus {
    color: rgb(102, 102, 102);
}

.navtitle {
    color: rgb(102, 102, 102);
}

.primary-menu-region {
    background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    color: #777777;
}

.commandbar-primary-menu-item:hover {
    color: #3399f3;
    background-image: linear-gradient(#ffffff, #eeeeee 50%, #e4e4e4);
    background-repeat: no-repeat;
    border: 1px solid #d5d5d5;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
}

.nav-tooltip-list-wrapper {
    color: rgb(102, 102, 102);
}

.nav-tooltip-list-item-img {
    color: rgb(102, 102, 102);
}

/*
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #345578;
    }
}