.indicator {
    text-align: right;
}

.header-border {
    background-color: #df691a;
}

.header-wrapper {
	border-top: 1px solid #df691a;
	border-left: 1px solid #df691a;
	border-bottom: 1px solid #df691a;
}

.app-menu-brand {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button {
    color: #ebebeb;
}

.app-menu-button:focus {
    background-color: transparent;
}

.app-menu-button:hover {
    background-color: #c85e17;
}

.app-menu-button:active {
	background-color: transparent;
}

.appl-button {
    background-image: url('../../gif/appl/appl-superhero.gif') !important;
}

.environment-button.opened {
    background-color: #c85e17;
}

.environment-option {
    background-color: #4e5d6c;
    border-bottom-color: #2b3e50;
    color: #ebebeb;
}

.environment-option:hover, .environment-option:active {
    color: #ebebeb;
    background-color: #485563;
}

.environment-option.active-option {
    color: #ebebeb;
    background-color: #c85e17;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: #ebebeb;
    background-color: #c85e17;
}


.user-settings-wrapper.first-item {
    border-color: #df691a;
}

.app-launcher-wrapper {
    background-color: #c85e17;
}

.app-launcher-button {
    background-color: #4e5d6c;
}

.feedback-form-control {
    display: block;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2b3e50;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #df691a;
}

.feedback-submit-button:hover {
    background-color: #b15315;
    border-color: rgba(0,0,0,0);
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 8px 16px;
    font-size: 15px;
    line-height: 1.42857143;
    border-radius: 0;
    user-select: none;
    color: #ffffff;
    background-color: #4e5d6c;
}

.feedback-overall-anchor {
    color: #ffffff;
    background-color: #4e5d6c;
    border: 1px solid transparent;
    border-radius: 0px;
}

.path-anchor-first  {
    fill: #4e5d6c;
    stroke: #4e5d6c;
}

.path-anchor-second {
    fill: #ffffff;
    stroke: #4e5d6c;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #b15315;
    border-color: rgba(0, 0, 0, 0);
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #b15315;
    stroke: #b15315;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #b15315; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #df691a;
    border-color: transparent;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #df691a;
    stroke: #df691a;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    stroke: #df691a;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #b15315;
    stroke: #b15315;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #b15315;
}

/**
 * Navigation
 */
 .tab {
    background-color: #2B3E50;
 }
 
 .tab-wrapper:hover {
    background-color: #2B3E50;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #4E5D6C; 
 }

.tabbar {
    background-color: #485563; 
}

.back-div {
    background-color: #485563;
    color: #df691a;
}

.tabbar-button {
    color: #ebebeb;
}

.tab-wrapper {
    color: #EBEBEB;
}
 
.tab .active-tab {
    color: #df691a;    
}

.active-tab-bottom {
    color: #df691a;
}

.side-navigation-wrapper {
    background-color: #4e5d6c;
    color: rgb(235, 235, 235);
    border-color: #4e5d6c #485563 #4e5d6c #4e5d6c;
    border-right: 1px solid #485563;
}

.side-navigation-separator-line {
    background-color: #39444e;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(235, 235, 235);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(223, 105, 26);
    text-shadow: 0 0 4px rgba(223, 105, 26, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(235, 235, 235);
}

.nav-wrapper:hover {
    background-color: #485563;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #485563;
}

.nav-wrapper.sub-nav {
    background-color: #485563;
}

.nav-wrapper.sub-nav:hover {
    background-color: #39444e;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #39444e;
}

.nav-wrapper.active-tab {
    background-color: #485563;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(223, 105, 26);
}

.nav-wrapper.active-tab:hover {
    background-color: #39444e;
}

.navlinks {
    color: rgb(235, 235, 235);
}

.navlinks:hover {
    color: rgb(235, 235, 235);
}

.navlinks:focus {
    color: rgb(235, 235, 235);
}

.navtitle {
    color: rgb(235, 235, 235);
}

.primary-menu-region {
    background-color: #4e5d6c;
    color: #ebebeb;
}

.commandbar-primary-menu-item:hover {
    color: #ebebeb;
    background-color: #485563;
}

.nav-tooltip-list-wrapper {
    color: #2b3e50;
}

.nav-tooltip-list-item-img {
    color: #2b3e50;
}

/*
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #df691a;
    }
}