.indicator {
    text-align: right;
}

.header-border {
    background-color: #008cba;
}

.header-wrapper {
	border-top: 1px solid #008cba;
	border-left: 1px solid #008cba;
	border-bottom: 1px solid #008cba;
}

.app-menu-brand {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button:focus {
    background-color: transparent;
}

.app-menu-button:hover {
    background-color: #006687;
}

.app-menu-button:active {
	background-color: transparent;
}

.appl-button {
    background-image: url('../../gif/appl/appl-yeti.gif') !important;
}

.environment-button.opened {
    background-color: #006687;
}

.environment-option {
    background-color: #008cba;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.environment-option:hover, .environment-option:active {
    color: white;
    background-color: #006687;
}

.environment-option.active-option {
    color: white;
    background-color: #006687;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: #006687;
}


.user-settings-wrapper.first-item {
    border-color: #008cba;
}

.app-launcher-wrapper {
    background-color: #006687;
}

.app-launcher-button {
    background-color: #e7e7e7;
    color: #333333 !important;
    border: 1px solid #cccccc;
}

.feedback-form-control {
    display: block;
    font-size: 15px;
    line-height: 1.4;
    color: #6f6f6f;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #0079a1;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #008cba;
}

.feedback-submit-button:hover {
    background-color: #006687;
    border-color: #004b63;
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #cccccc;
    border-color: #adadad;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.4;
    border-radius: 0;
    user-select: none;
    color: #333333;
    background-color: #e7e7e7;
}

.feedback-overall-anchor {
    color: #333333;
    background-color: #e7e7e7;
    border: 1px solid #cccccc;
    border-radius: 0px;
}

.path-anchor-first  {
    fill: #e7e7e7;
    stroke: #e7e7e7;
}

.path-anchor-second {
    fill: #333333;
    stroke: #e7e7e7;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #006687;
    border-color: #004b63;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #006687;
    stroke: #006687;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #006687; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #008cba;
    border-color: #0079a1;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #008cba;
    stroke: #008cba;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #008cba;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #006687;
    stroke: #006687;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: #006687;
}

/**
 * Navigation
 */
 .tab {
    background-color: #eee;
 }
 
 .tab-wrapper:hover {
    background-color: #fbfbfb;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1); 
 }

.tabbar {
    background-color: #f5f5f5; 
}

.back-div {
    background-color: #f5f5f5;
    color: #008cba;
}

.tabbar-button {
    color: #333333;
}

.tab-wrapper {
    color: #666666;
}
 
.tab .active-tab {
    color: #008cba;    
}

.active-tab-bottom {
    color: #008cba;
}

.side-navigation-wrapper {
    background-color: #f5f5f5;
    color: rgb(34, 34, 34);
    border-color: #f5f5f5 #eeeeee #f5f5f5 #f5f5f5;
    border-right: 1px solid #eeeeee;
}

.side-navigation-separator-line {
    background-color: #cccccc;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(34, 34, 34);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(0, 140, 186);
    text-shadow: 0 0 4px rgba(0, 140, 186, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(34, 34, 34);
}

.nav-wrapper:hover {
    background-color: #eeeeee;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav:hover {
    background-color: #cccccc;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #cccccc;
}

.nav-wrapper.active-tab {
    background-color: #eeeeee;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(0, 140, 186);
}

.nav-wrapper.active-tab:hover {
    background-color: #cccccc;
}

.navlinks {
    color: rgb(34, 34, 34);
}

.navlinks:hover {
    color: rgb(34, 34, 34);
}

.navlinks:focus {
    color: rgb(34, 34, 34);
}

.navtitle {
    color: rgb(34, 34, 34);
}

.primary-menu-region {
    background-color: #333333;
    color: #ffffff;
}

.commandbar-primary-menu-item:hover {
    color: #ffffff;
    background-color: #272727;
}

.nav-tooltip-list-wrapper {
    color: rgb(34, 34, 34);
}

.nav-tooltip-list-item-img {
    color: rgb(34, 34, 34);
}

/*
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #008cba;
    }
}