.indicator {
    text-align: right;
}

.header-border {
    background-color: #222222;
}

.header-wrapper {
	border-top: 1px solid #080808;
	border-left: 1px solid #080808;
	border-bottom: 1px solid #080808;
}

.app-menu-brand {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app-menu-button {
    color: #888888;
}

.app-menu-button:focus {
	background-color: #222222;
}

.app-menu-button:hover {
    background-color: transparent;
    color: white;
}

.app-menu-button:active {
	background-color: #222222;
}

.appl-button {
    background-image: url('../../gif/appl/appl-cyborg.gif') !important;
}

.appl-button.opened {
    color: white; 
}

.environment-button.opened {
    background-color: transparent;
}

.environment-option {
    background-color: #222222;
    border-bottom-color: rgba(255, 255, 255, 0.1);
    color: #888888;
}

.environment-option:hover, .environment-option:active {
    color: white;
    background-color: #2a9fd6;
}

.environment-option.active-option {
    color: white;
    background-color: #222222;
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: #222222;
}


.user-settings-wrapper.first-item {
    border-color: #080808;
}

.app-launcher-wrapper {
    background-color: #222222;
}

.app-launcher-button {
    background-color: #424242;
    border-radius: 4px;
}

.feedback-form-control {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #888888;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #282828;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #2a9fd6;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
    background-color: #2a9fd6;
}

.feedback-submit-button:hover {
    background-color: #2180ac;
    border-color: #1f79a3;
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid #424242;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    user-select: none;
    color: #ffffff;
    background-color: #424242;
}

.feedback-overall-anchor {
    color: #ffffff;
    background-color: #424242;
    border: 1px solid #424242;
    border-radius: 4px;
}

.path-anchor-first  {
    fill: #424242;
    stroke: #424242;
}

.path-anchor-second {
    fill: #ffffff;
    stroke: #424242;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: #2180ac;
    border-color: #1f79a3;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: #2180ac;
    stroke: #2180ac;
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: #2180ac; 
}

.feedback-overall-anchor-active {
    color: #ffffff;
    background-color: #2a9fd6;
    border-color: #2a9fd6;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: #2a9fd6;
    stroke: #2a9fd6;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    stroke: #2a9fd6;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: #2180ac;
    stroke: #2180ac;
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: #2180ac;
}

/**
 * Navigation
 */
 .tab {
    background-color: #060606;
 }
 
 .tab-wrapper:hover {
    background-color: #282828;
 }

.tabbar {
    background-color: #3c3c3c; 
}

.back-div {
    background-color: #3c3c3c;
    color: #2A9FD6;
}

.tabbar-button {
    color: #888888;
}

.tab-wrapper {
    color: #fff;
}
 
.tab .active-tab {
    color: #2A9FD6;    
}

.active-tab-bottom {
    color: #2A9FD6;
}

.side-navigation-wrapper {
    background-color: #282828;
    color: white;
    border-color: #282828 #222222 #282828 #282828;
    border-right: 1px solid #222222;
}

.side-navigation-separator-line {
    background-color: #424242;
}

.side-navigation-shrink-command-wrapper {
    color: #888888;
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(42, 159, 214);
    text-shadow: 0 0 4px rgba(42, 159, 214, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: white;
}

.nav-wrapper:hover {
    background-color: #222222;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #222222;
}

.nav-wrapper.sub-nav {
    background-color: #222222;
}

.nav-wrapper.sub-nav:hover {
    background-color: #424242;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #424242;
}

.nav-wrapper.active-tab {
    background-color: #222222;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(42, 159, 214);
}

.nav-wrapper.active-tab:hover {
    background-color: #424242;
}

.navlinks {
    color: white;
}

.navlinks:hover {
    color: white;
}

.navlinks:focus {
    color: white;
}

.navtitle {
    color: white;
}

.primary-menu-region {
    background-color: #222222; 
    color: #888888;
}

.commandbar-primary-menu-item:hover {
    background-color: #222222;
    color: #ffffff;
}

.nav-tooltip-list-wrapper {
    color: #888888;
}

.nav-tooltip-list-item-img {
    color: #888888;
}

/**
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #080808;
    }
}