.indicator {
    text-align: right;
}

.header-border {
    background-color: #bce4fa;
}

.header-wrapper {
	border-top: 1px solid #bce4fa;
	border-left: 1px solid #bce4fa;
	border-bottom: 1px solid #bce4fa;
}

.app-menu-brand {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(3, 66, 109);
}

.app-menu-button {
    color: rgb(3, 66, 109);
}

.app-menu-button:focus {
    background-color: transparent;
}

.app-menu-button:hover {
    color: #0078B4;
    background-color: transparent;
}

.app-menu-button:active {
	background-color: transparent;
}

.appl-button {
    background-image: url('../../gif/appl/appl-first.gif') !important;
}

.appl-button.opened {
    color: #0078B4; 
}

.environment-button.opened {
    background-color: #bce4fa;
    border-top: 1px solid rgb(3, 66, 109);
}

.environment-option {
    background-color: transparent;
    border-bottom-color: #e5e5e5;
    color: #666666;
}

.environment-option:hover, .environment-option:active {
    color: #141414;
    background-color: #eeeeee;
}

.environment-option.active-option {
    color: white;
    background-color: rgb(3, 66, 109);
}

.environment-text {
    color: rgb(3, 66, 109);
}

.user-settings-small-menu-dropdown-option.active-option {
    color: white;
    background-color: rgb(3, 66, 109);
}


.user-settings-wrapper.first-item {
    border-color: #2196f3;
}

.app-launcher-wrapper {
    background-color: #bce4fa;
}

.app-launcher-content > div > h2 {
    color: rgb(3, 66, 109);
}

.app-launcher-button {
    background-color: white;
    color: #444444 !important;
    border-radius: 3px;
}

.feedback-overlay-background {
    color: rgb(3, 66, 109);
}

.feedback-form-control {
    display: block;
    font-size: 13px;
    line-height: 1.846;
    color: #666666;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.feedback-main-container {
    background-color: #f5f5f5;
}

.feedback-submit-button {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: none;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    user-select: none;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    color: #ffffff;
    background-color: #2196f3;
    position: relative;
}

.feedback-submit-button:hover {
    background-color: #0d87e9;
    border-color: rgba(0, 0, 0, 0);
}

.feedback-button {
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 16px;
    font-size: 13px;
    line-height: 1.846;
    border-radius: 3px;
    user-select: none;
    text-transform: uppercase;
    border: none;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
    color: #444444;
    background-color: #ffffff;
}

.feedback-overall-anchor {
    color: rgb( 3, 66, 109);
    background-color: #ffffff;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.path-anchor-first  {
    fill: #ffffff;
    stroke: #ffffff;
}

.path-anchor-second {
    fill: rgb( 3, 66, 109);
    stroke: #ffffff;
}

.feedback-overall-anchor:hover {
    color: #ffffff;
    background-color: rgb( 3, 66, 109);
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-first {
    fill: rgb( 3, 66, 109);
    stroke: rgb( 3, 66, 109);
}

.feedback-overall-anchor:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: rgb( 3, 66, 109);
}

.feedback-overall-anchor-active {
    color: rgb( 3, 66, 109);
    background-color: #bce4fa;
    border-color: #bce4fa;
}

.feedback-overall-anchor-active > div > svg > .path-anchor-first {
    fill: rgb( 3, 66, 109);
    stroke: rgb( 3, 66, 109);
}

.feedback-overall-anchor-active > div > svg > .path-anchor-second {
    fill: #ffffff;
    stroke: rgb( 3, 66, 109);
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-first {
    fill: rgb( 3, 66, 109);
    stroke: rgb( 3, 66, 109);
}

.feedback-overall-anchor-active:hover > div > svg > .path-anchor-second {
    fill: white;
    stroke: rgb( 3, 66, 109);
}

/**
 * Navigation
 */
 .tab {
    background-color: #fff;
 }
 
 .tab-wrapper:hover {
    background-color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-color: #e9ecef; 
 }

.tabbar {
    background-color: #f5f5f5; 
}

.back-div {
    background-color: #f5f5f5;
    color: rgb(3, 66, 109);
}

.tabbar-button {
    color: #212121;
}

.tab-wrapper {
    color: #212121;
}
 
.tab .active-tab {
    color: rgb(3, 66, 109);    
}

.active-tab-bottom {
    color: rgb(3, 66, 109);
}

.side-navigation-wrapper {
    background-color: #f5f5f5;
    color: rgb(102, 102, 102);
    border-color: #f5f5f5 #eeeeee #f5f5f5 #f5f5f5;
    border-right: 1px solid #eeeeee;
}

.side-navigation-separator-line {
    background-color: #cccccc;
}

.side-navigation-shrink-command-wrapper {
    color: rgb(102, 102, 102);
}

.side-navigation-shrink-command-wrapper:hover {
    color: rgb(3, 66, 109);
    text-shadow: 0 0 4px rgba(3, 66, 109, .5);
}

.side-navigation-shrink-glyph-wrapper {
    outline-color: rgb(102, 102, 102);
}

.nav-wrapper:hover {
    background-color: #eeeeee;
}

.nav-wrapper.displayed-primary-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav {
    background-color: #eeeeee;
}

.nav-wrapper.sub-nav:hover {
    background-color: #cccccc;
}

.nav-wrapper.sub-nav.active-tab {
    background-color: #cccccc;
}

.nav-wrapper.active-tab {
    background-color: #eeeeee;
}

.nav-wrapper.active-tab::before {
    border-left: 3px solid rgb(3, 66, 109);
}

.nav-wrapper.active-tab:hover {
    background-color: #cccccc;
}

.navlinks {
    color: rgb(102, 102, 102);
}

.navlinks:hover {
    color: rgb(102, 102, 102);
}

.navlinks:focus {
    color: rgb(102, 102, 102);
}

.navtitle {
    color: rgb(102, 102, 102);
}

.primary-menu-region {
    background-color: #ffffff;
    color: #666666;
}

.commandbar-primary-menu-item:hover {
    background-color: #ffffff;
    color: #212121;
}

.nav-tooltip-list-wrapper {
    color: rgb(102, 102, 102);
}

.nav-tooltip-list-item-img {
    color: rgb(102, 102, 102);
}

/**
 * PRINT LAYOUT
 */
 
@media print {
    .header-wrapper {
        border-right: 1px solid #bce4fa;
    }
}